.footer__comment {
  border-bottom: $light-border;
  position: relative;

  img {
    @include smallAvatar();
  }

  input {
    font-size: 14px;
    color: $black-p-color;
    width: 100%;
    background: $light-background-comment;
    border: $light-border;
    box-sizing: border-box;
    border-radius: 8px;

    &:focus {
      border: 1px solid #d6d6d6;
      outline: none;
    }
  }

  .list-icons {
    z-index: 2;
    position: absolute;
    left: 93%;

    i {
      cursor: pointer;
      color: $black-p-color;

      &:hover {
        color: #6b6b6b;
      }
    }
  }
}
