<div class="dropdown mr-3 ml-3">
  <div style="cursor: pointer" id="dropdownNotiButton" data-toggle="dropdown">
    <i class="far fa-bell fontweight-1 fontsize-6 icon-nav"></i>
    <span class="badge">4</span>
  </div>

  <div class="dropdown-menu" aria-labelledby="dropdownNotiButton">
    <a [routerLink]="['']" class="dropdown-item fontweight-1 gray-7 pt-2 pb-2">
      <i class="far fa-thumbs-up mr-2"></i> Thien Nguyen đã thích bài viết của
      bạn</a
    >

    <a [routerLink]="['']" class="dropdown-item fontweight-1 gray-7 pt-2 pb-2">
      <i class="far fa-comment mr-2"></i> Huy Nguyen đã bình luận bài viết của
      bạn</a
    >
  </div>
</div>
