<div class="news-feed__right mt-3 ml-5">
  <div class="trends pt-3 pl-4 pr-4 pb-3">
    <p class="title mb-1">My Skills</p>

    <div class="trend">
      <p class="trend__title">#programming</p>
      <p class="trend__stat">213k Tweets</p>
    </div>
    <div class="trend">
      <p class="trend__title">#angular</p>
      <p class="trend__stat">123k Tweets</p>
    </div>
    <div class="trend">
      <p class="trend__title">#html css js</p>
      <p class="trend__stat">108k Tweets</p>
    </div>
    <div class="trend">
      <p class="trend__title">#nodejs</p>
      <p class="trend__stat">84k Tweets</p>
    </div>
    <div class="trend">
      <p class="trend__title">#mongodb</p>
      <p class="trend__stat">50k Tweets</p>
    </div>
  </div>

  <div class="friends pt-3 pl-4 pr-4 pb-3 mt-3">
    <p class="title mb-1">Your friends</p>
    <div class="friend">
      <img
        src="http://res.cloudinary.com/kh1em/image/upload/h_55,w_55/v1603604578/o7ajbfvrl5zabang5kg3.jpg"
        alt=""
      />
      <div>
        <p class="friend__name">Khiem Nguyen</p>
        <p class="friend__username">@kh1em</p>
      </div>
    </div>
    <div class="friend">
      <img
        src="http://res.cloudinary.com/kh1em/image/upload/h_55,w_55/v1603604578/o7ajbfvrl5zabang5kg3.jpg"
        alt=""
      />
      <div>
        <p class="friend__name">Thien Nguyen</p>
        <p class="friend__username">@th1en</p>
      </div>
    </div>
  </div>
</div>
