<nav class="d-flex justify-content-around row">
  <div class="navbar__head col-md-4 d-flex justify-content-around">
    <a href="#" class="pt-3 pb-3">Tweet</a>
  </div>

  <div class="navbar__body col-md-4 d-flex justify-content-around">
    <a href="#" class="pt-3 pb-3 pl-4 pr-4 active">Home</a>
    <a href="#" class="pt-3 pb-3 pl-4 pr-4">Profile</a>
    <a href="#" class="pt-3 pb-3 pl-4 pr-4">Chat</a>
  </div>


  <div class="navbar__footer col-md-4 d-flex justify-content-center">
    <img src="../../assets/imgs/khiem.png" class="mt-3 mr-2" alt="">
    <a href="#" class="pt-3 pb-3">Profile</a>
  </div>
</nav>
