<nav class="d-flex justify-content-around mr-0">
  <div
    class="navbar__head col-md-6 d-flex justify-content-around align-items-center"
  >
    <a routerLink="/" class="pt-3 pb-3">
      <img src="../../assets/icons/tweeter.svg" alt="" />
    </a>

    <i class="fas fa-bars" id="toggleBtn" (click)="toggleHamburgerMenu()"></i>
  </div>

  <div
    class="navbar__footer col-md-6 d-flex justify-content-center align-items-center"
  >
    <div class="dropdown">
      <div
        style="cursor: pointer"
        id="dropdownNotiButton"
        data-toggle="dropdown"
      >
        <i class="far fa-bell fontweight-1 fontsize-5 noti-bell"></i>
        <span class="badge badge-light">4</span>
      </div>

      <div class="dropdown-menu" aria-labelledby="dropdownNotiButton">
        <a
          [routerLink]="['', user.username]"
          class="dropdown-item fontweight-1 gray-7 pt-2 pb-2"
        >
          <i class="far fa-thumbs-up mr-2"></i> Thien Nguyen đã thích bài viết
          của bạn</a
        >

        <a
          [routerLink]="['', user.username]"
          class="dropdown-item fontweight-1 gray-7 pt-2 pb-2"
        >
          <i class="far fa-comment mr-2"></i> Huy Nguyen đã bình luận bài viết
          của bạn</a
        >
      </div>
    </div>

    <div class="dropdown ml-5">
      <button
        class="btn dropdown-toggle d-flex justify-content-center align-items-center fontweight-2 gray-8"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <img [src]="user.avatar" class="mr-3" alt="" />
        {{ user.name }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a
          [routerLink]="['', user.username]"
          class="dropdown-item fontweight-1 gray-7 pt-2 pb-2"
          ><i class="far fa-user mr-3"></i> Profile</a
        >
        <a
          class="dropdown-item fontweight-1 gray-7 pt-2 pb-2"
          (click)="onLogout()"
          style="color: #e74c3c"
          ><i class="fas fa-sign-out-alt mr-3"></i> Log Out</a
        >
      </div>
    </div>
  </div>

  <div
    class="hamburger-menu"
    [ngStyle]="{ display: isOpenHamburgerMenu ? 'block' : 'none' }"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['', user.username]">
          <i class="far fa-user mr-3"></i>Profile</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onLogout()"
          ><i class="fas fa-sign-out-alt mr-3" style="color: #e74c3c"></i>Log
          Out</a
        >
      </li>
    </ul>
  </div>
</nav>
