<nav class="d-flex justify-content-around row">
  <div class="navbar__head col-md-4 d-flex justify-content-around">
    <a href="#" class="pt-3 pb-3">Tweet</a>
  </div>

  <div class="navbar__body col-md-4 d-flex justify-content-around">
    <a href="#" class="pt-3 pb-3 pl-4 pr-4 active">Home</a>
    <a href="#" class="pt-3 pb-3 pl-4 pr-4">Explore</a>
    <a href="#" class="pt-3 pb-3 pl-4 pr-4">Bookmarks</a>
  </div>


  <div class="navbar__footer col-md-4 d-flex justify-content-around">
    <a href="#" class="pt-3 pb-3">Profile</a>
  </div>
</nav>
