<div id="wallpaper"></div>

<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<div
  class="app-container d-flex justify-content-center allow-overflow"
  *ngIf="!isLoading"
>
  <div class="wall__component">
    <div
      class="wall__info desktop d-flex justify-content-between align-items-start pt-4 pl-5 pr-5 pb-2"
    >
      <div class="d-flex">
        <img [src]="userProfile.bigAvatar" alt="" class="mr-5" />
        <div class="ml-2">
          <div
            class="d-flex align-items-center justify-content-between stat mb-3 w-100"
          >
            <h2 class="fontweight-2 fontsize-6 gray-9">
              {{ userProfile.name }}
            </h2>
          </div>
          <p class="bio">
            {{ userProfile.bio ? userProfile.bio : "Hay viet tieu su cua ban" }}
          </p>
        </div>
      </div>

      <div>
        <button class="btn" *ngIf="!isMe">
          <i class="fas fa-user-plus"></i> Follow
        </button>
      </div>
    </div>

    <div class="wall__info mobile">
      <div
        class="d-flex flex-column align-items-center justify-content-center wall__info__wrap"
      >
        <img [src]="userProfile.bigAvatar" alt="" />

        <h2 class="fontweight-2 fontsize-6 gray-9 mt-4">
          {{ userProfile.name }}
        </h2>

        <p class="bio w-75 text-center mt-3">
          {{ userProfile.bio ? userProfile.bio : "Hay viet tieu su cua ban" }}
        </p>

        <button class="btn mt-3" *ngIf="!isMe">
          <i class="fas fa-user-plus"></i> Follow
        </button>
      </div>
    </div>

    <div class="wall__body d-flex mt-2 w-auto m-auto">
      <div class="wall__nav d-flex flex-column mt-3 pt-3 pb-3 mr-4">
        <a class="pl-4 pr-4 pt-2 pb-2 active">Wall</a>
        <a [routerLink]="['profile']" class="pl-4 pr-4 pt-2 pb-2" *ngIf="isMe"
          >Profile</a
        >
        <a class="pl-4 pr-4 pt-2 pb-2" disabled>Followers</a>
        <a class="pl-4 pr-4 pt-2 pb-2" disabled>Album</a>
      </div>

      <div class="w-100">
        <app-create-post [user]="me" *ngIf="isMe"></app-create-post>
        <app-post
          *ngFor="let post of wallPosts | async"
          [post]="post"
          [isPostRetweeted]="post.userPost.username !== userProfile.username"
          [userRetweeted]="userProfile"
        ></app-post>
      </div>
    </div>
  </div>
</div>
