<div id="wallpaper">

</div>


<div class="app-container allow-overflow">
  <div class="wall">

    <div class="wall__info d-flex justify-content-between align-items-start pt-4 pl-5 pr-5 pb-2">
      <img src="../../../assets/imgs/khiem.png" alt="" class="mr-4">
      <div>
        <div class="d-flex align-items-center justify-content-between stat mb-3">
          <h2 class="fontweight-2 fontsize-6 gray-9">Khiem Nguyen</h2>
          <p class="fontweight-2 fontsize-2 gray-9">2,599 <span class="ml-1 fontsize-2 gray-6 fontweight-1">Following</span></p>
          <p class="fontweight-2 fontsize-2 gray-9">10,6k <span class="ml-1 fontsize-2 gray-6 fontweight-1">Followers</span></p>
        </div>
        <p class="bio">Programmer, Master Teamfight Tactics, Diamond League of Legends
        </p>
        <p class="bio">Platinum Valorant, 1000 hours of PUBG
        </p>

      </div>

      <button class="btn"><i class="fas fa-user-plus"></i> Follow</button>
    </div>


    <div class="wall__body d-flex justify-content-between mt-2">
      <div class="wall__left mt-3 pt-3 pb-3 mr-4">
        <p class="pl-4 pr-4 pt-2 pb-2 active">Con cac</p>
        <p class="pl-4 pr-4 pt-2 pb-2">Con cac</p>
        <p class="pl-4 pr-4 pt-2 pb-2">Con cac</p>
        <p class="pl-4 pr-4 pt-2 pb-2">Con cac</p>
      </div>

      <div>
        <app-post></app-post>
      </div>

    </div>
  </div>

</div>
