<div class="app__profile d-flex flex-column justify-content-center align-items-center">
  <h2 class="pt-5 fontsize-8 letter-spacing gray-10">Personal Info</h2>
  <p class="fontsize-4 fontweight-0 letter-spacing gray-10">Basic info, like your name and photo</p>

  <div class="card">
    <div class="card__row justify-content-between">
      <div>
        <p class="fontsize-6 letter-spacing gray-10">Profile</p>
        <p class="fontsize-2 gray-5 fontweight-1 letter-spacing gray-6">Some info may be invisible to other people</p>
      </div>
      <button class="btn" id="editBtn">Edit</button>
    </div>

    <div class="card__row pt-2 pb-2">
      <div class="label">Photo</div>
      <img src="../../assets/imgs/khiem.png" alt="">
    </div>
    <div class="card__row">
      <p class="label">Name</p>
      <p class="info">Khiem Nguyen</p>
    </div>
    <div class="card__row">
      <p class="label">Bio</p>
      <p class="info">Bo may la software developer</p>
    </div>
    <div class="card__row">
      <p class="label">Phone</p>
      <p class="info">0933868848</p>
    </div>
    <div class="card__row">
      <p class="label">Email</p>
      <p class="info">bestvohoc@gmail.com</p>
    </div>
  </div>

</div>
