@import "config";
@font-face {
  font-family: "Noto Sans";
  src: url("./assets/fonts/NotoSans.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
}

body {
  width: 100vw;
  background: $light-background;
  letter-spacing: -0.035em;
}

.allow-overflow {
  overflow: visible;
}

.liked {
  i {
    font-weight: 600 !important;
    color: $liked-color !important;
  }

  p {
    font-weight: 600 !important;
    color: $liked-color !important;
  }
}

.retweeted {
  i {
    font-weight: 600 !important;
    color: $retweeted-color !important;
  }

  p {
    font-weight: 600 !important;
    color: $retweeted-color !important;
  }
}

@import "utilities";
