@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  background: #FAFAFB;
  letter-spacing: -0.035em;
}

.app-not-login {
  background: white;
  width: 100vw;
  height: 100vh;
}
