.comment__component {
  p {
    cursor: pointer;
    margin-bottom: 0;
  }

  img {
    @include smallAvatar();
  }

  .text-part {
    background: $light-background-comment;
    border-radius: 8px;
  }
}

@media (max-width: 576px) {
  .comment__date {
    display: none;
  }
}
