<div class="comment__component mt-3 mb-2">
  <div class="d-flex">
    <img [src]="comment.userComment.avatar" class="mr-3" alt="" />

    <div class="w-100">
      <div class="text-part pt-3 pb-4 pl-3 pr-3">
        <div class="d-flex align-items-center">
          <p class="fontweight-2 gray-10 fontsize-2" style="line-height: 21px">
            {{ comment.userComment.name }}
          </p>
          <p
            class="ml-3 fontweight-1 gray-5 fontsize-1"
            style="line-height: 16px"
          >
            {{ comment.timeCreated | date: "MMM d y, h:mm a" }}
          </p>
        </div>

        <p class="mt-2" style="color: #4f4f4f">
          {{ comment.content }}
        </p>
      </div>
    </div>
  </div>
</div>
