<div class="comment__component mt-3 mb-2">
  <div class="d-flex">
    <img src="../../assets/imgs/khiem.png" class="mr-3" alt="">


    <div class="w-100">
      <div class="text-part pt-3 pb-4 pl-3 pr-3">
        <div class="d-flex align-items-center">
          <p class="fontweight-2 gray-10 fontsize-2" style="line-height: 21px;">Khiem Nguyen</p>
          <p class="ml-3 fontweight-1 gray-5 fontsize-1" style="line-height: 16px;">24 August at 20:43</p>
        </div>

        <p class="mt-2" style="color: #4F4F4F;">I’ve seen awe-inspiring things that I thought I’d never be able to explain to another person.</p>
      </div>

      <div class="d-flex reaction-part mt-2">
        <p class="mr-4"><i class="far fa-heart mr-1"></i>Likes</p>
        <p>12k Likes</p>
      </div>
    </div>

  </div>
</div>

<div class="comment__component mt-3">
  <div class="d-flex">
    <img src="../../assets/imgs/khiem.png" class="mr-3" alt="">


    <div class="w-100">
      <div class="text-part pt-3 pb-4 pl-3 pr-3">
        <div class="d-flex align-items-center">
          <p class="fontweight-2 gray-10 fontsize-2" style="line-height: 21px;">Khiem Nguyen</p>
          <p class="ml-3 fontweight-1 gray-5 fontsize-1" style="line-height: 16px;">24 August at 20:43</p>
        </div>

        <p class="mt-2" style="color: #4F4F4F;">I’ve seen awe-inspiring things that I thought I’d never be able to explain to another person.</p>
      </div>

      <div class="d-flex reaction-part mt-2">
        <div class="liked">
          <p class="mr-4"><i class="far fa-heart mr-1"></i>Likes</p>
        </div>

        <p>12k Likes</p>
      </div>
    </div>

  </div>
</div>
