.comment__component p {
  cursor: pointer;
  margin-bottom: 0;
}

.comment__component img {
  max-width: 45px;
  max-height: 45px;
  border-radius: 8px;
}

.comment__component .text-part {
  background: #fafafa;
  border-radius: 8px;
}

@media (max-width: 576px) {
  .comment__date {
    display: none;
  }
}
